body{
  background-color: azure;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.todo-container{
  width: 300px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px;
}
.todo-Item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-btn{
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}